<nav class="site-nav" aria-label="Primary">
  <a {% if page.url == "/" or page.url contains "index.html" %}class="is-current"{% endif %} href="index.html">Home</a>
  <a {% if page.url contains "about.html" %}class="is-current"{% endif %} href="about.html">About</a>
  <a {% if page.url contains "scidac.html" %}class="is-current"{% endif %} href="scidac.html">SciDAC</a>
  <a {% if page.url contains "results.html" %}class="is-current"{% endif %} href="results.html">Highlights</a>
  <a {% if page.url contains "people.html" %}class="is-current"{% endif %} href="people.html">People</a>
  <a {% if page.url contains "publications.html" %}class="is-current"{% endif %} href="publications.html">Publications</a>
</nav>
